<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>54</integer>
	<key>Time Stamp</key>
	<real>1577068003.9279399</real>
	<key>UUID</key>
	<string>A2017044-687C-4D30-A346-FB593AAF7907</string>
</dict>
</plist>
