<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>1 ms periodic measurement task
Time, ms
LightSensorValue
sensorUeLow
execTime, us
sensorUeFullBright
asaFrontBlink
Max
next max, after 8 ms
Ikea 400 lm
ikea1_crane
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
